@using System.Collections
@model ReviewOrderViewModel
    
<h3 class="edit">Cart Contents:</h3> <a asp-action="ViewCart" asp-controller="Cart" type="button" class="edit btn btn-sm">Edit Cart Contents</a>
<table class="table table-sm w-50">
@if (Model.Cart.LineItems.Count < 1)
{
    <tr><td>Your Cart is Empty</td></tr>
}
else
{
foreach(var p in Model.Cart.LineItems)
 {
     <tr>
         <td>@p.Item.Name</td>
         <td>@p.Quantity</td>
         <td>@p.Item.Price.ToString("C")</td>
     </tr>
 }
    <tr class="font-weight-bold"><td></td><td>Subtotal</td><td>@Model.Cart.LineItems.Sum(a => a.Item.Price).ToString("C")</td></tr>
}
</table>


<h3 class="edit">Ship To:</h3> <a asp-action="EditShipInfo" type="button" class=" edit btn btn-sm">Edit Shipping Info</a>
<h6>@Model.ShipInfo.FirstName @Model.ShipInfo.LastName</h6> 
<p>@Model.ShipInfo.AddressLine1</p>
<p>@Model.ShipInfo.AddressLine2</p>
<p>@Model.ShipInfo.City, @Model.ShipInfo.State @Model.ShipInfo.Zipcode</p>

<p>@Model.ShipInfo.Phone.Value.ToString("###-###-####")</p>

<form asp-action="SubmitOrder" asp-controller="Checkout" method="post">
    <input type="submit" class="btn btn-primary" value="Complete Order"/>
</form>


