@model List<Newtonsoft.Json.Linq.JToken>
    @Model
<link href="~/CSS/StyleSheet.css" rel="stylesheet" />
<h2 class ="heading">Welcome to Trailhead!</h2>
<h4 class="subheading">Featuring top hiking trails around the National Parks of the United Sates</h4>

<h5 >Select a National Park below to see trails within a 200 mile radius of the park. Parks are listed by state.</h5>
@foreach (var park in Model)
{
    <a id="parkname" asp-action="Index" asp-controller="Trail" asp-route-name="@park.FullName" asp-route-lat="@park.Lat" asp-route-lon="@park.Lon"><h3>@park.FullName</h3></a>    <p id="citystate">@park.City, @park.State</p>
    
}
