@model Topic

@Model.Heading
@if (Model.Messages.Count ==0)
{
    <h6>No Messages created yet for this topic</h6>
}
else
{
    foreach (var msg in Model.Messages)
    {
        <div>
            <p>@msg.Username @msg.CreatedAt.ToString("g")</p>
            <p>@msg.Text  <a asp-action="CreateReply" class="btn btn-sm btn-primary" asp-route-msgId="@msg.MessageId">Reply</a></p>

            <div class ="ml-3"><small>
    @foreach (var reply in msg.Replies)
    {
        
        <p class="mb-0">@reply.Text </p>
        <em><b><p class="mt-0">-@reply.Username @reply.CreatedAt.ToString("g")</p></b></em>
    }
</small>
            </div>


        </div>
    }
    
}
        <a class="btn btn-warning" asp-action="CreateMessage" asp-route-id="@Model.TopicId" asp-route-topic="@Model.Heading">Create New Thread in "@Model.Heading"</a>
