@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using MountainBound.Areas.TradingPost.Models.ViewModels
@model MountainBound.Areas.TradingPost.Models.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Trading Post";
}
@*  TABLE LIST OF PRODUCTS

    <table class="table table-striped table-bordered">*@
@*    <thead>*@
@*    <tr>*@
@*        <th>Product</th>*@
@*        <th>Description</th>*@
@*        <th>Price</th>*@
@*    </tr>*@
@*    </thead>*@
@*    @foreach (var p in Model.Products)*@
@*    {*@
@*        <tr>*@
@*            <td>@p.Name</td>*@
@*            <td>@p.Description</td>*@
@*            <td>@p.Price.ToString("C") <a class="btn" asp-action="AddToCart" asp-route-ProdID="@p.ProductID" asp-controller="Cart">Add to Cart</a></td>*@
@*            *@
@*        </tr>*@
@*    }*@
@*</table>*@


<div class="container">
    <div class="text-right mt-5 mb-0">@if (ViewContext.HttpContext.Session.Keys.Contains("Cart"))
         {
             <a class="btn btn-warning" asp-action="ViewCart" asp-route-returnrul="@ViewContext.HttpContext.Request.Path@ViewContext.HttpContext.Request.QueryString" asp-controller="Cart"><i class="fa fa-shopping-cart"></i> View Cart</a>
         }</div>
    <div class="card-deck">
        @foreach (var p in Model.Products)
        {
            <div class="card col-4">
                <img class="card-img-top" src="#" alt="Placeholder for Product Image"/>
                <div class="card-body">
                    <div class="mid">
                        <h5 class="card-title">@p.Name</h5>
                        <p class="card-text">@p.Description</p>
                    </div>
                    <div class="product-price">
                        <h5 class="mb-3 text-danger">@p.Price.ToString("C")</h5>
                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="prodId" value="@p.ProductId"/>
                            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.Path@ViewContext.HttpContext.Request.QueryString"/>
                            <input type="submit" class=tp-btn value="Add to Cart"/>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="pages text-center m-2 ">
    @for (int i = 1; i < @Model.NumPages + 1; i++)
    {
        <a class="pagelinks" asp-action="ProductDirectory" asp-route-pagenum="@i">Page @i</a>}

</div>
