@*DIRECTORY OF US NATIONAL PARKS FROM DATABASE -- ORGINALLY SEEDED FROM NATIONAL PARK API*@

@model IQueryable<NationalPark>

@{
    ViewData["Title"] = "National Parks";
}
<div class="">
    <h2 >Welcome to Trailhead!</h2>
    <h4 >Featuring top hiking trails from the National Parks of the United Sates</h4>

    <p class="heading-text">Select a National Park from the list below to see trails within a 200 mile radius of the park, listed by state</p>
    <div class="np-cols">
        @foreach (var park in Model)
        {
            <div class="np-blocks np-cols">
                <a id="parkname" asp-action="Trails" asp-controller="Trail" asp-route-name="@park.FullName" asp-route-lat="@park.Lat" asp-route-lon="@park.Lon">@park.FullName</a>
                <p id="citystate"> @park.City, @park.State</p>
            </div>

        }
    </div>
</div>